.itemDetail {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    width: 220px;
}

.finishButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    padding: 15px 20px;
    color: #202020;
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
}

.finishButton:hover {
    background-color: #b4000f;
    color: white;
    transition: all 0.4s ease-out;
}

.finishButtonLink {
    text-decoration: none;
}