.title {
    margin-top: 20px;
    color: #202020;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.div-container {
    margin-top: 100px;
    margin-bottom: 20px;
    display: block;
    background-color: #fff;
    /* height: 1000px; */
}