.add {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    padding: 15px 67px;
    color: #202020;
    height: 10px;
    border-radius: 10px;
}

.add:hover {
    background-color: #b4000f;
    color: white;
    transition: all 0.4s ease-out;
}